*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#fff5f8;
    color:#333;
}

header,footer{
    background:#c8357e;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    text-align:center;
    padding:10px;
    background:#ffd6eb;
}

nav a{
    text-decoration:none;
    color:#ff3399;
    margin:0 10px;
    font-weight:bold;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

h2{
    color:#ff3399;
    margin-bottom:10px;
}

article{
    margin-top:15px;
    padding:10px;
    background:#fff0f7;
    border-radius:8px;
}

img{
    width:180px;
    border-radius:10px;
}

blockquote{
    font-style:italic;
    color:#666;
}
